*{
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
.upper-nav{
    background: #FF9500 !important;
}

.upper-nav p {
    font-size: 14px !important;
}


body{
    background-color: #F1F1F3 !important;
}
  




/* Footer styling */
.btn-socials {
    background-color: #F1F1F3 !important;

}

.home-about p {
    color: #59595A !important;
    font-size: 16px !important;
}

.address-footer p {
    color: #262626 !important;
    font-size: 16px !important;
}

.copywrite p {
    color: #656567 !important;
    font-size: 14px !important;
}

/* End of footer */


/* responsive design that bring the toggle bar to the right hand side */
@media (max-width: 767px) {
    Custom CSS for mobile view
    .navbar-toggler {
        order: 2; /* Move the mobile toggle button after "nav-left" */
    }
    .nav-item {
        order: 1; /* Move "nav-left" before the mobile toggle button */
    }
}