*{
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
}
.global-col{
    background-color: #ff9500!important;
}
  

body{
    background-color: #F7F7F8;

    
}





@media (max-width: 767px) {
    Custom CSS for mobile view
    .navbar-toggler {
        order: 2; /* Move the mobile toggle button after "nav-left" */
    }
    .nav-left {
        order: 1; /* Move "nav-left" before the mobile toggle button */
    }
}